nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
}

li {
    margin: 0 40px;
    font-size: 22px;
    color: white;
    list-style-type: none;
}

a,.deconnexion {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: rgb(71, 27, 27);
}

.deconnexion {
    margin: 0 20px;
    /* padding: 6px 15px; */
    font-size: 22px;
}

.deconnexion a {
    color: white;
    border: none;
}

#biblio{
    background-color: transparent;
    border: none;
}

#decoForm {
    height: auto;
}
