body {
    background-image: url("https://images.alphacoders.com/508/508431.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

h1 {
    font-size: 70px;
    /* width: 800px; */
    text-align: center;
    color: white;
}

.formRegister {
    background-color: rgba(54, 29, 29, 0.349);
    height: 100vh;
    width: 1000px;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.formulaire {
    display: flex;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

label {
    color: white;
}

label,
input {
    width: 150px;
    margin: 5px 0;
}

#conditions {
    width: 15px;
}

select {
    width: 158px;
    margin: 5px 0;
}

button {
    margin: 10px 30px;
}

button a {
    background-color: transparent;
    color: black;
    border: none;
}